* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  .list {
    width: 500px;
    height: 95vh;
    background-color: antiquewhite;
    margin: auto;
    margin-top: 15px;
    border: 0px solid black;
    box-shadow: -1px -1px 5px;
  }
  
  h2 {
    margin-left: 180px;
    padding-top: 20px;
    margin-bottom: 50px;
    border-bottom: 3px solid rgb(98, 191, 234);
    width: max-content;
  }
  
  label input {
    width: 20px;
    height: 20px;
    margin-left: 60px;
  }
  
  label {
    display: flex;
    margin-bottom: 28px;
  }
  
  label p {
    margin-left: 200px;
  }